$blue:    #2d29ae;
$indigo:  #6610f2;
$purple:  #9a8bb7;
$pink:    #ae296b;
$red:     #61ea8e;
$orange:  #fd7e14;
$yellow:  #604c0f;
$green:   #58ca2b;
$teal:    #20c997;
$cyan:    #9ecf5d;

// scss-docs-start nav-variables
$nav-link-padding-y:  1.5rem;
$navbar-light-hover-color: rgba($pink, 1);
$navbar-light-brand-color: $pink;

// colors
$primary: $pink; 
$success: $pink;